<ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-grid" ng-click="showMenu()"></button>
    <button class="button button-clear">
        <span>تسجيل خروج</span>&nbsp;|&nbsp;<span>Amir</span>
    </button>
</ion-header-bar>

<ion-content>
    <div class="padding">
        <h2 class="text-right padding">المساعدين</h2>
    </div>

    <div class="list">

        <div class="item item-input-inset">
            <button class="button button-icon icon ion-plus-round col-33"></button>
            <label class="item-input-wrapper">
                <input type="text" placeholder="اسم المساعد">
            </label>
            
        </div>
    </div>

    <div class="padding">
        <div class="row row-center">
            <div class="col text-center">
                <button class="button button-icon icon ion-minus-round"></button>
            </div>
            <div class="col-66">
                    <h4>احمد علاءالحسينى</h4>
            </div>
        </div>
        <div class="row row-center">
            <div class="col text-center">
                <button class="button button-icon icon ion-minus-round"></button>
            </div>
            <div class="col-66">
                    <h4>علي حسن السيد</h4>
            </div>
        </div>
    </div>

</ion-content>


<ion-footer-bar class="bar-positive">
    <div class="button-bar">
        <button class="button button-icon icon ion-plus-round" ng-click="addAccount()"></button>
    </div>
</ion-footer-bar>