<ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-grid" ng-click="showMenu()"></button>
    <div class="adjustHeader">
        <span>Amir</span>&nbsp;|&nbsp;<span ng-click="logout()">تسجيل خروج</span>
    </div>
</ion-header-bar>

    <ion-content>
        <ion-scroll direction="y">
            <div class="padding row row-center">
                <div class="col text-center">
                    <img class="circle" ng-src="../images/unknown.png" />
                </div>
            </div>

            <div class="list">
                <label class="item item-input item-floating-label padding">
                    <span class="input-label">اسم المساعد</span>
                    <input type="text" placeholder="اسم المساعد">
                </label>
                <label class="item item-input item-floating-label padding">
                    <span class="input-label">التخصص</span>
                    <input type="text" placeholder="التخصص">
                </label>
                <label class="item item-input item-floating-label padding">
                    <span class="input-label">كلمة المرور</span>
                    <input type="password" placeholder="كلمة المرور">
                </label>

            </div>
        </ion-scroll>
    </ion-content>


    <ion-footer-bar class="bar-positive">
        <div class="button-bar">
            <button class="button button-icon icon ion-close-round" ng-click="showAccounts()"></button>
            <button class="button button-icon icon ion-checkmark-round" ng-click="showAccounts()"></button>
        </div>
    </ion-footer-bar>
