<ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-grid" ng-click="showMenu()"></button>
    <div class="adjustHeader row-center">
        <span>Amir</span>&nbsp;|&nbsp;<span ng-click="logout()" class="ion-log-out button-icon icon"></span>
    </div>
</ion-header-bar>

<form name="frmAddPatient" novalidate ng-submit="addPatient(frmAddPatient)">
    <ion-content class="addPatientPage">
        <ion-scroll direction="y">
            <div class="padding row row-center">
                <div class="col text-center">
                    <img class="circle" ng-src="images/unknown.png" />
                </div>
            </div>

            <div class="list">
                <label class="item item-input item-floating-label padding">
                    <span class="input-label">اسم المريض</span>
                    <input ng-model="patientName" type="text" required placeholder="اسم المريض" name="txtPatientName" id="txtPatientName">
                    <span ng-show="frmAddPatient.txtPatientName.$dirty && frmAddPatient.txtPatientName.$invalid">
                        <span class="errorFont" ng-show="frmAddPatient.txtPatientName.$error.required">مطلوب</span>
                    </span>
                </label>
                <label class="item item-input item-floating-label padding">
                    <span class="input-label">وصف الحالة</span>
                    <textarea name="txtDescription" ng-model="description" rows="5" type="text" required placeholder="وصف الحالة"></textarea>
                    <span ng-show="frmAddPatient.txtDescription.$dirty && frmAddPatient.txtDescription.$invalid">
                        <span class="errorFont" ng-show="frmAddPatient.txtDescription.$error.required">مطلوب</span>
                    </span>
                </label>
                <label class="item item-input item-stacked-label padding">
                    <span class="input-label">تاريخ الميلاد</span>
                    <input type="text" name="txtDob" ng-model="dateOfBirth" id="txtDob" class="text-right" readonly placeholder="تاريخ الميلاد">
                    <span class="errorFont" ng-show="txtDobRequired" ng-hide="!txtDobRequired">مطلوب</span>
                </label>

                <label class="item item-input item-stacked-label padding">
                    <span class="input-label">النوع</span>
                    <select name="cmbGender" ng-model="gender">
                        <option value="male">ذكر</option>
                        <option value="female">انثي</option>
                    </select>
                </label>

            </div>
            <div class="clearfix"></div>

        </ion-scroll>
    </ion-content>


    <ion-footer-bar class="bar-positive">
        <div class="button-bar">
            <button class="button button-icon icon ion-close-round" type="reset" ng-click="showPatients()"></button>
            <button class="button button-icon icon ion-checkmark-round" type="submit"></button>
        </div>
    </ion-footer-bar>
</form>