<ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-grid" ng-click="showMenu()"></button>
    <div class="adjustHeader row-center">
        <span>Amir</span>&nbsp;|&nbsp;<span ng-click="logout()"  class="ion-log-out button-icon icon"></span>
    </div>
</ion-header-bar>


<ion-content class="listPatients">
    <ion-scroll direction="y">

        <!--<ion-list>
            <ion-item class="item-input-inset">
                <a class="button button-icon icon ion-search padding-right"></a>
                <label class="item-input-wrapper padding-left">
                    <input type="text" placeholder="بحث" ng-model="patientName">
                </label>
            </ion-item>
        </ion-list>-->

        <ion-list>
            <div class="item-input-inset">
                <a class="button button-icon icon ion-search padding-right"></a>
                <label class="item-input-wrapper padding-left">
                    <input type="text" placeholder="بحث" ng-model="patientName">
                </label>
            </div>
        </ion-list>

            <div class="list">
                <div class="card" ng-repeat="patient in allPatients | filter:patientName as results" ng-click="getPatientDetails()">
                    <div class="item item-text-wrap item-avatar">
                        <img src="images/unknown.png" />
                        <h2 class="padding-bottom">{{patient.name}}</h2>
                        <p>{{patient.description}}</p>
                    </div>
                </div>
            </div>

            <div ng-show="!results.length" class="text-center padding">
                <h4 class="padding">عفوا, لا يوجد مريض بهذا الاسم</h4>
            </div>
</ion-scroll>

</ion-content>


<ion-footer-bar class="bar-positive">
    <div class="button-bar">
        <button class="button button-icon icon ion-plus-round" ng-click="addPatient()"></button>
    </div>
</ion-footer-bar>