<!--<ion-view view-title="login" class="loginPage">-->
<ion-content class="loginpage">

    <div class="view-container">
        <div class="padding">
            <div class="item card">
                <div class="col col-center">
                    <div class="item item-image">
                        <img ng-src="images/logo1.png">
                    </div>
                </div>
                <label class="item item-input item-floating-label">
                    <span class="input-label ">اسم المستخدم</span>
                    <input type="text" placeholder="اسم المستخدم">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label ">كلمة المرور</span>
                    <input type="password" placeholder="كلمة المرور">
                </label>
                <div class="row">
                    <div class="col col-center text-center">
                        <button class="button button-block button-balanced appColor" ng-click="login()">
                            تسجيل الدخول
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-content>
<!--</ion-view>-->