<!--<ion-view view-title="frmLogin" class="loginPage">-->
<form novalidate name="frmLogin" ng-submit="submitForm(frmLogin)">
    <ion-content class="loginpage">

        <div class="view-container">
            <div class="padding">

                <div class="item card">
                    <div class="col col-center">
                        <div class="item item-image">
                            <img ng-src="images/logo1.png">
                        </div>
                    </div>
                    <label class="item item-input item-floating-label">
                        <span class="input-label ">اسم المستخدم</span>
                        <input ng-model="frmLogin.mail" type="email" required  placeholder="اسم المستخدم" name="txtEmail" id="txtEmail">
                        <span ng-show="frmLogin.txtEmail.$dirty && frmLogin.txtEmail.$invalid">
                            <span class="errorFont" ng-show="frmLogin.txtEmail.$error.required">مطلوب</span>
                            <span class="errorFont" ng-show="frmLogin.txtEmail.$error.email">صيغه بريد الكترونى غير صحيحة</span>
                        </span>
                        <!--<span class="errorFont" ng-hide="frmLogin.txtEmail.$error.required || frmLogin.txtEmail.$error.email">{{afterLoginError}}</span>-->

                    </label>

                    <label class="item item-input item-floating-label">
                        <span class="input-label ">كلمة المرور</span>
                        <input ng-model="frmLogin.password" type="password" required  placeholder="كلمة المرور" name="txtPassword" id="txtPassword">
                        <span ng-show="frmLogin.txtPassword.$dirty && frmLogin.txtPassword.$invalid">
                            <span class="errorFont" ng-show="frmLogin.txtPassword.$error.required">مطلوب</span>
                        </span>

                    </label>
                    <div class="row">
                        <div class="col col-center text-center">
                            <button class="button button-block button-balanced appColor" ng-disabled="frmLogin.$invalid" type="submit">
                                تسجيل الدخول
                            </button>
                        </div>
                    </div>
                </div>




            </div>
        </div>



    </ion-content>
</form>
<!--</ion-view>-->