<ion-header-bar class="bar-positive">
    <button class="button button-icon icon"></button>
    <button class="button button-clear">
        <span>تسجيل خروج</span>&nbsp;|&nbsp;<span>Amir</span>
    </button>
</ion-header-bar>
<ion-content>

    <div class="list">

        <a class="item item-avatar" ng-click="showListPatient()" >
            <img src="../images/unknown.png">
            <h2>المرضي</h2>
        </a>

        <a class="item item-avatar" ng-click="showListAccounts()">
            <img src="../images/unknown.png">
            <h2>المساعدين</h2>
        </a>

        <a class="item item-avatar">
            <img src="../images/unknown.png">
            <h2>المواعيد</h2>
        </a>

        <a class="item item-avatar">
            <img src="../images/unknown.png">
            <h2>الماليات</h2>
        </a>

    </div>


</ion-content>
<ion-footer-bar class="bar-positive">

</ion-footer-bar>