@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/DroidKufi-Regular.woff) format('woff');
}

input, button, textarea, span, label, p, h1, h2, h3, h4, h5, h6, select, .menuPage {
    direction: rtl !important;
}

body, input, button, textarea, span, label, p, h1, h2, h3, h4, h5, h6, select {
    font-family: 'Droid Arabic Kufi' !important;
}

    input[type=date] {
        text-align: right;
    }

.pull-left {
    float: left !important;
}

.text-center {
    text-align: center;
}

.viewpatientPage h3 {
    font-size: 24px;
}

.adjustHeader {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 5px;
    font-size: 20px;
    display: flex;
}

    .adjustHeader .ion-log-out:before, .adjustHeader .ion-chevron-left:before {
        font-size: 26px;
    }

.circle {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

select {
    /*padding: 6px 0px 9px 40px;*/
    border: none;
}

textarea {
    padding-right: 24px;
    resize: none;
}

.spacer {
    height: 30px;
}

.appColor, .bar-positive {
    background-color: #547c89 !important;
    border-color: #456670 !important;
}

ion-scroll[direction=y] {
    height: calc(100vh - 33px - 33px - 15px);
}

/*target firefox only*/
@-moz-document url-prefix() {
    ion-scroll[direction=y] {
        overflow-y: scroll !important;
    }
}



/*login page*/
.loginpage .view-container {
    height: 100vh;
    position: relative;
}

.loginpage .item.card {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.loginpage img {
    max-width: 250px !important;
    max-height: 250px !important;
}

/*list patient page*/
.listPatients .item-avatar > img:first-child {
    right: 16px;
    left: initial;
}

.listPatients .item-avatar {
    padding-right: 72px;
    padding-left: initial;
}

.listPatients .item-input-inset {
    border-bottom: 1px solid #ddd;
}

/*Menu*/
.menuPage .adjustMenu {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.menuPage ion-scroll[direction=y] {
    height: 100vh;
}

.menuPage h3 {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-size: 14px;
}

.menuPage img {
    width: 90%;
}

/*view patient*/
.viewpatientPage .item-avatar > img:first-child {
    right: 16px;
    left: initial;
}

/*add Patient Page*/
.addPatientPage .Zebra_DatePicker_Icon {
    left: 0px !important;
    right: auto !important;
}

.addPatientPage input {
    background-color: #fff;
}

/*.addPatientPage form.ng-pristine label.item-input {
    background-color: lightblue;
}

.addPatientPage form.ng-dirty label.item-input {
    background-color: pink;
}*/
